<!-- 
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
</body>
</html> -->

</div>
<div class="footer-padding">
  <div class="footer">
    <p>Copyright 2018 Kelvin Fok</p>
  </div>
</div>
</body>
</html>